<div class="avaliations">
  <div></div>
  <div class="avaliations-title">
    <h1 class="subtitle">Avaliações dos</h1>
    <h1 class="title">NOSSOS CLIENTES</h1>
  </div>
  <div class="carousel-avaliations">
    <div id="carouselAvaliations" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="avaliation">
            <div class="person-data">
              <div class="person">
                <img src="assets/icon-person.svg" alt="" class="icon-person">
                <p class="name-person">Suzanne Almeida</p>
              </div>
              <p class="date">28/10/2025</p>
            </div>
            <img src="assets/stars.png" alt="" class="stars">
            <p class="text-avaliation">Experiência incrível! O site é super fácil de navegar, as fotos dos hambúrgueres são de dar água na boca, e adorei as informações sobre ingredientes e sustentabilidade. Consegui fazer meu pedido em segundos, e ele chegou rapidinho. Vou pedir de novo com certeza!</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="avaliation">
            <div class="person-data">
              <div class="person">
                <img src="assets/chinesinho.png" alt="" class="icon-person">
                <p class="name-person">Carlos Oliveira</p>
              </div>
              <p class="date">01/10/2025</p>
            </div>
            <img src="assets/stars.png" alt="" class="stars">
            <p class="text-avaliation">O atendimento foi impecável! A experiência de compra foi rápida e sem complicações. O site é muito intuitivo e fácil de usar. A entrega foi super rápida, e o produto chegou em perfeitas condições. Com certeza farei novas compras!</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="avaliation">
            <div class="person-data">
              <div class="person">
                <img src="assets/joao lima.jpg" alt="" class="icon-person">
                <p class="name-person">Luísa Santos</p>
              </div>
              <p class="date">01/12/2023</p>
            </div>
            <img src="assets/stars.png" alt="" class="stars">
            <p class="text-avaliation"> O restaurante tem uma variedade excelente de lanches e tudo estava organizado. Lanches impecáveis e o preço justo pelo que é oferecido. A entrega foi rápida e lanche em perfeitas condições. Com certeza voltarei a comprar e recomendo a todos!</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="avaliation">
            <div class="person-data">
              <div class="person">
                <img src="assets/mayara.jpg" alt="" class="icon-person">
                <p class="name-person">Mayara Almeida Campos</p>
              </div>
              <p class="date">12/10/2025</p>
            </div>
            <img src="assets/stars.png" alt="" class="stars">
            <p class="text-avaliation">Atendimento excelente, ambiente acolhedor e hambúrgueres deliciosos com ingredientes frescos. O tempo de espera foi rápido e o preço justo. O motoboy foi super gentil e atencioso. Recomendo!</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="avaliation">
            <div class="person-data">
              <div class="person">
                <img src="assets/gringo.png" alt="" class="icon-person">
                <p class="name-person">Felipe Santos</p>
              </div>
              <p class="date">18/05/2025</p>
            </div>
            <img src="assets/stars.png" alt="" class="stars">
            <p class="text-avaliation">Eu adorei a experiência de compra! A navegação no site é muito simples, e a qualidade dos produtos é excelente. O processo de pagamento foi seguro, e fiquei impressionada com a velocidade da entrega. Com certeza voltarei a comprar!</p>
          </div>
        </div>
      </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAvaliations" data-bs-slide="prev">
            <img src="assets/setaantes.png" class="carousel-control-prev-icon seta">
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselAvaliations" data-bs-slide="next">
            <img src="assets/setadepois.png" class="carousel-control-next-icon seta">
        </button>
    </div>
  </div>


</div>

