<footer>
  <div class="top-footer">
    <div class="wave">
      <div class="amarelo">
      </div>
      <div class="yellow-wave">
        <img src="assets/wave.png"  class="y-wave">
      </div>
    </div>

    <div class="row-itens-footer">

      <div class="app">
        <div class="title-app">
          <h1 class="title-icon">Light</h1>
          <img src="assets/burguer-app.png" class="icon-burguer" >
        </div>
        <button (click)="navigateToDownload()" class="button-app">Baixe o app</button>
      </div>
      <div class="info-footer">
        <div class="title-info">
          <h1 class="title">Desenvolvedores</h1>
          <hr>
        </div>
        <div class="content-info">
          <ul class="list-info">
            <li class="info-item">Mariana Meira Rigotto</li>
            <li class="info-item">Giselle Luz Leite</li>
            <li class="info-item">Gustavo Almeida Ferreira</li>
            <li class="info-item">Gabriel Stoian</li>
            <li class="info-item">Heitor Machado</li>
          </ul>
        </div>
      </div>

      <div class="info-footer">
        <div class="title-info">
          <h1 class="title">Horários</h1>
          <hr>
        </div>
          <ul class="list-info">
            <li class="info-item">Segunda a sexta: 11h ás 22h</li>
            <li class="info-item">Sábado: 10h às 23h</li>
            <li class="info-item">Domingo e feriados: 10h às 20h</li>
          </ul>
      </div>

      <div class="info-footer">
        <div class="title-info">
          <h1 class="title">Nossa Unidade</h1>
          <hr>
        </div>
        <div class="content-info">
          <ul class="list-info">
            <li class="info-item">R. Ari Barroso, 305 - Pres. Altino, Osasco - SP, 06216-901</li>
            <li class="info-item">Escola e Faculdade SENAI Nadir Dias de Figueiredo.</li>
          </ul>
        </div>
      </div>
    </div>


</div>
  <div class="copyright-icons">
    <div class="icons-social">
      <img src="assets/facebook.svg" alt="" class="img-icons">
      <img src="assets/insta.svg" alt="" class="img-icons">
      <img src="assets/GitHub.svg" alt="" class="img-icons">
    </div>
    <div class="copyright">
      <img src="assets/copyright.svg" alt="" class="icon-copyright">
      <p class="text-copyright">Copyright 2024 Light Burguer</p>
    </div>
  </div>
</footer>
