
header{
    padding: 2% ;
    border-bottom: 5px solid #EFEFEF;
    height: 2.1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;

}
ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content:  flex-end;
    color: #FDD741;
    font-weight:500;
    font-size:18px;
}
li{
    list-style: none;
}
