<div class="vendidos">
    <div class="mais-vendidos">
        <h1>Mais Vendidos</h1>
    </div>

    <div class="row-cards">
      <app-cards [avaliation]="' 4.8  (672)'" [title]="'Light House'" [description]="'Pão com gergelim, hambúrguer de carne bovina, alface, tomate, cebola, picles, ketchup e maionese.'" [imageSrc]="'https://d3sn2rlrwxy0ce.cloudfront.net/whopper-thumb.png?mtime=20210916125149&focal=none'" [price]="'R$24,90'"></app-cards>
      <app-cards [avaliation]="' 4.8  (672)'" [title]="'Light House'" [description]="'Pão com gergelim, hambúrguer de carne bovina, alface, tomate, cebola, picles, ketchup e maionese.'" [imageSrc]="'https://d3sn2rlrwxy0ce.cloudfront.net/whopper-thumb.png?mtime=20210916125149&focal=none'" [price]="'R$24,90'"></app-cards>
      <app-cards [avaliation]="' 4.8  (672)'" [title]="'Light House'" [description]="'Pão com gergelim, hambúrguer de carne bovina, alface, tomate, cebola, picles, ketchup e maionese.'" [imageSrc]="'https://d3sn2rlrwxy0ce.cloudfront.net/whopper-thumb.png?mtime=20210916125149&focal=none'" [price]="'R$24,90'"></app-cards>
      <app-cards [avaliation]="' 4.8  (672)'" [title]="'Light House'" [description]="'Pão com gergelim, hambúrguer de carne bovina, alface, tomate, cebola, picles, ketchup e maionese.'" [imageSrc]="'https://d3sn2rlrwxy0ce.cloudfront.net/whopper-thumb.png?mtime=20210916125149&focal=none'" [price]="'R$24,90'"></app-cards>
    </div>
</div>

