<div class="delivery-screen">
  <div class="delivery-header">
    <h2 class="subtitle">Peça já</h2>
    <h1 class="title">DELIVERY</h1>
  </div>
  <div class="delivery-content">
    <div class="texts-delivery">
      <div class="titles-delivery">
        <h1 class="title-text">Na hora certa, no lugar certo</h1>
        <h1 class="title-text color">Sua entrega garantida.</h1>
      </div>
      <div class="button-and-text">
        <p class="text">Peça já! Sua entrega deliciosa chega até você com rapidez que você merece. Saboreie o melhor hamburger favorito sem sair de casa!</p>
        <button class="button-delivery" (click)=" navigateToDownload()">Faça seu pedido agora!</button>
      </div>
    </div>
    <div class="image-delivery">
      <img src="assets/entregadora.svg" alt="" class="src">
    </div>
  </div>
</div>
