<div class="menu-popular">
  <div class="titles-menu">
    <h1 class="sub-title">Deliciosas escolhas</h1>
    <h1 class="main-title">MENU POPULAR</h1>
  </div>
  <div class="icons-menu">
    <img src="../../../assets/hamburguer-icon.svg" alt="">
    <img src="../../../assets/Bebidas.svg" alt="">
    <img src="../../../assets/Acompanhamentos.svg" alt="">
    <img src="../../../assets/Sobremesa.svg" alt="">
  </div>
  <div class="itens-menu">
    <div class="column-itens">
      <div class="container-item">
        <img src="" alt="" class="icon-burger">
        <div class="content-burger">
          <h1 class="title-burger"></h1>
          <p class="desc-burger"></p>
        </div>
        <div class="container-item">
          <img src="" alt="" class="icon-burger">
          <div class="content-burger">
            <h1 class="title-burger"></h1>
            <p class="desc-burger"></p>
          </div>
      </div>
    </div>
    <div class="column-itens">
      <div class="container-item">
        <img src="" alt="" class="icon-burger">
        <div class="content-burger">
          <h1 class="title-burger"></h1>
          <p class="desc-burger"></p>
        </div>
        <div class="container-item">
          <img src="" alt="" class="icon-burger">
          <div class="content-burger">
            <h1 class="title-burger"></h1>
            <p class="desc-burger"></p>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
